@import '../../styles/mixin';

.control-panel {
  @include control-panel-layout;
}
.content-container {
  @include content-container-layout;
}

.paste-box {
    border: dashed 10px black;
    width: 50%;
    min-height: 200px;
    color: black;
    background-color: rgb(36, 35, 35);
    position: relative;
    h2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 50%;
        height: 30%;
        margin: auto;
    }
}

.single-character{
  border:1px solid white;
  margin-bottom:15px;
  background-color:#141414;
  /*display:flex;*/
  justify-content:flex-start;
  padding:5px;
  display:none;
  position:relative;
}
#character-info{
  min-width:1280px;
}

#character-info h1, #character-info p{
  margin:0px;
  padding:0px;
}
div.character{
  margin-left:.5%;
  width:14%;
  justify-content:flex-start;
}
div.name-info{
  width:14%;
  justify-content:flex-start;
  align-self:center;
  position:relative;
  top:-2px;
}
/* roles to apply to single-character to give them a nice background icon */
// .role-tank{
//   background-image:url("images/role-tank.png");
// }

// .role-dps{
//   background-image:url("images/role-dps.png");
// }

// .role-healer{
//   background-image:url("images/role-healer.png");
// }

.role-tank, .role-dps, .role-healer{
  background-repeat: no-repeat;
  background-position: 10%;
}

/* class colours */
.death-knight{
  color: #c41f3b;
}

.demon-hunter{
  color: #a330c9;
}

.druid{
  color: #ff7d0a;
}

.hunter{
  color: #abd473;
}

.mage{
  color: #69ccf0;
}

.monk{
  color: #00ff96;
}

.paladin{
  color: #f58cba;
}

.priest{
  color: #fff;
}

.rogue{
  color: #fff569;
}

.shaman{
  color: #0070d3;
}

.warlock{
  color: #9482c9;
}

.warrior{
  color: #c79c6e;
}
