<div class="control-panel">
  <div class="button-panel">
  </div>
</div>
<div class="content-container" (paste)="pasteEvent($event)">
  <div>
    <div class="paste-box">
      <h2>Paste JSON here (anywhere)</h2>
      <h3>{{this.error}}</h3>
    </div>
  </div>
  <div>
    <div class="list-container">
      <div class="single-character applicant role-dps sort-3">

      </div>
      <div *ngFor="let applicant of applicants" styles="color:white">
        <div>
            <ul>
              <li>
                  name: {{applicant.name}}
              </li>
              <li>
                  class: {{applicant.class}}
              </li>
            </ul>
            <ul *ngIf="applicant.rating.length === 0">
              <li style="color:red">
                Character has no score
              </li>
            </ul>
            <div *ngIf="applicant.rating.length > 0">
              <ul *ngFor="let rating of applicant.rating">
                <li>
                  patch: {{rating.patch}}
                </li>
                <li>
                    score: {{rating.score}}
                </li>
                <li>
                    role: {{rating.role}}
                </li>
              </ul>
            </div>
        </div>
        ________________________________________________________
      </div>
    </div>
  </div>
  <div class="detail-container">
  </div>
</div>
