<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <a class="ng-title-icon" href="http://angular.io" target="_blank">
        <i></i>
      </a>
      <span class="title">Xauruks wow-progress warez prog</span>
      <span></span>
      <a mat-button [routerLink]="['/heroes']" routerLinkActive="router-link-active">
        <!-- <span>Characters</span> -->
      </a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="row-commands">
      <div class="footer-container">
        <a>
          <i></i>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
